In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
my_dict={'Correct_ans':[17,13,12,15,16,14,16,16,18,19],'Aptitude':[94,73,69,80,93,85,66,79,77,91]}

In [32]:
df=pd.DataFrame(my_dict)

In [33]:
df

   Correct_ans  Aptitude
0           17        94
1           13        73
2           12        69
3           15        80
4           16        93
5           14        85
6           16        66
7           16        79
8           18        77
9           19        91

In [90]:
x=df['Correct_ans']
y=df['Aptitude']

In [94]:
def correlation_coef(x,y):
    x1=np.mean(x)
    y1=np.mean(y)
    c3=[(x[i]-x1)*(y[i]-y1) for i in range(x.shape[0])]
    r_num=np.sum(c3)
    x3=np.sum(np.square([(x[i]-x1) for i in range(x.shape[0])]))
    y3=np.sum(np.square([(y[i]-y1) for i in range(x.shape[0])]))
    r_den=(x3*y3)**0.5
    r=r_num/r_den
    return r

In [98]:
r=correlation_coef(x,y)
std_x=np.std(x)
std_y=np.std(y)

In [99]:
std_x

2.0591260281974

In [100]:
std_y

9.392017887546851

In [102]:
b=r*(std_y/std_x)
b

2.3301886792452833

In [108]:
a=np.mean(y)-b*np.mean(x)

In [109]:
def calc_reg_coeff(x,y):
    r=correlation_coef(x,y)
    std_x=np.std(x)
    std_y=np.std(y)
    b=r*(std_y/std_x)
    a=np.mean(y)-b*np.mean(x)
    return a,b

In [110]:
a,b=calc_reg_coeff(x,y)

In [111]:
a

44.34905660377358

In [112]:
b

2.3301886792452833